$navy: #00334F;
$blue: #00A5F7;
$yellow: #FFC800;
$yellowTint: #FFEEB2;


.fuse-countdown-clock {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .days-wrapper, .hours-wrapper, .minutes-wrapper, .seconds-wrapper {
    text-align: center;

    border: 2px solid black;
    width: 200px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .time {
      font-size: 5rem;
      font-weight: 800;
      //color: var(--clock-time-color);
    }

    .desc {
      font-size: 1.3rem;
      //color: var(--clock-desc-color);
    }
  }
}

.fuse-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightslategray;

  .fuse-footer-img {
    width: 100px;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}
