$navy: #00334F;
$blue: #2d9dd7;
$yellow: #FFC800;
$yellowTint: #FFEEB2;

$sm-min-width: 576px;
$md-min-width: 768px;
$lg-min-width: 992px;
$xl-min-width: 1200px;
$xxl-min-width: 1400px;

// Small devices (landscape phones, 576px and up)
// @media (min-width: $sm-min-width) {}
  
// Medium devices (tablets, 768px and up)
// @media (min-width: $md-min-width) {}
  
// Large devices (desktops, 992px and up)
// @media (min-width: $lg-min-width) {}
  
// X-Large devices (large desktops, 1200px and up)
// @media (min-width: $xl-min-width) {}
  
// XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: $xxl-min-width) {}

.fuse-section-header {
  background: $navy;
  
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;

  h2 {
    color: $yellow;
    margin-bottom: 0;
  }
}

.fuse-welcome-events {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);

  > div {
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (min-width: $md-min-width) {
    grid-template-columns: repeat(auto-fill, 49%);
    justify-content: space-between;
    > div {  
      
    }
  }
}

.fuse-countdown-clock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  user-select: none;
  row-gap: 1rem;
  //column-gap: 0.5rem;

  .time-wrapper {
    text-align: center;
    background: $navy;
    width: calc(50% - 0.5rem);
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .time {
      font-size: 3rem;
      font-weight: 800;
      color: $yellow
    }

    .desc {
      font-size: 1.1rem;
      color: $yellowTint
    }
  }

  @media (min-width: $sm-min-width) {
    .time-wrapper {
      width: calc(25% - 1rem);

      .time {
        font-size: 3rem;
      }
  
      .desc {
        font-size: 1.2rem;
      }
    }
  }

  @media (min-width: $md-min-width) {
    .time-wrapper {
        .time {
          font-size: 5rem;
        }
    
        .desc {
          font-size: 1.3rem;
        }
      }
  }
}

.fuse-footer {
  background: $navy;
  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding-top: 20px;
    padding-bottom: 20px;
  
    .fuse-footer-img {
      width: 230px;
  
      img {
        width: 100%;
        height: auto;
      }
    }
    .adapt-logo {
      width: 100px;
    }
  }
}

.fuse-event-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
  row-gap: 15px;
  //justify-content: space-around;

  @media (min-width: $sm-min-width) {
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, calc(50% - 0.5rem));
  }
  
  @media (min-width: $md-min-width) {
    grid-template-columns: repeat(auto-fill, calc(33% - 0.5rem));
  }
}

.fuse-event {
  background: $navy;
  color: $yellow;
  //width: 30%;
  height: 150px;
  padding: 10px;

  display: flex;
  flex-direction: column;

  cursor: pointer;

  .fuse-event-time {
    padding-bottom: 10px;
  }

  .fuse-event-title {
    font-size: 1.3rem;
  }

  .fuse-event-chairs {
    flex-grow: 1;
    align-self: flex-end;
    margin-top: auto;

    display: flex;
    align-items: flex-end;

    :after {
      content: '/';
    }

    :last-child::after {
      content: '';
    }
  }
}

.fuse-event:visited {
  color: $yellow;
}

.fuse-event:hover {
  background: $yellowTint;
  color: $navy;
}

.login-required-wrapper {
  display: flex;
  justify-content: center;
}

.bg-yellow {
  background: $yellowTint;
  color: $navy;
}

.bg-blue {
  background: $blue;
  color: white;
}

//  --- --- --- --- --- --- --- ---
//  Utility classes
//  --- --- --- --- --- --- --- ---

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}