$navy: #00334F;
$blue: #00A5F7;
$yellow: #FFC800;
$yellowTint: #FFEEB2;


.fuse-section-header {
  background: $navy;
  
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;

  h2 {
    color: $yellow;
    margin-bottom: 0;
  }
}

.fuse-countdown-clock {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  user-select: none;

  .time-wrapper {
    text-align: center;

    background: $navy;
    width: 150px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .time {
      font-size: 3rem;
      font-weight: 800;
      color: $yellow
    }

    .desc {
      font-size: 1.1rem;
      color: $yellowTint
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .time-wrapper {
      width: 180px;
      height: 180px;
  
      .time {
        font-size: 4rem;
      }
  
      .desc {
        font-size: 1.2rem;
      }
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .time-wrapper {
        width: 210px;
        height: 210px;
    
        .time {
          font-size: 5rem;
        }
    
        .desc {
          font-size: 1.3rem;
        }
      }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    
  }

  // X-Large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    
  }

  // XX-Large devices (larger desktops, 1400px and up)
  @media (min-width: 1400px) {
    
  }
}

.fuse-footer {
  background: $navy;
  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding-top: 20px;
    padding-bottom: 20px;
  
    .fuse-footer-img {
      width: 230px;
  
      img {
        width: 100%;
        height: auto;
      }
    }
    .adapt-logo {
      width: 100px;
    }
  }
}

.fuse-event-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 90%);
  gap: 15px;
  justify-content: space-around;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    grid-template-columns: repeat(auto-fill, 45%);
  }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, 30%);
  }
}

.fuse-event {
  background: $navy;
  color: $yellow;
  //width: 30%;
  height: 150px;
  padding: 10px;

  display: flex;
  flex-direction: column;

  cursor: pointer;

  .fuse-event-time {
    padding-bottom: 10px;
  }

  .fuse-event-title {
    font-size: 1.3rem;
  }

  .fuse-event-chairs {
    flex-grow: 1;
    align-self: flex-end;
    margin-top: auto;

    display: flex;
    align-items: flex-end;
  }
}

.fuse-event:visited {
  color: $yellow;
}

.fuse-event:hover {
  background: $yellowTint;
  color: $navy;
}

.login-required-wrapper {
  display: flex;
  justify-content: center;
}

//  --- --- --- --- --- --- --- ---
//  Utility classes
//  --- --- --- --- --- --- --- ---

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}