<div class="fuse-footer">
  <div class="wrap">
    <div class="fuse-footer-img dcu-logo">
      <a href="https://www.dcu.ie/">
        <img src="/plugins/fuse-dcu-2022-plugin/fuse/DCU_Fuse_Platform_Files_logo dark.png">
      </a>
    </div>

    <div class="fuse-footer-img adapt-logo">
      <a href="https://www.adaptcentre.ie/">
        <img src="/plugins/fuse-dcu-2022-plugin/other/adapt.png">
      </a>
    </div>
  </div>
</div>