<div class="fuse-footer">
  <div class="fuse-footer-img">
    <img src="/plugins/fuse-dcu-2022-plugin/images/footer/adapt.png">
  </div>
  <div class="fuse-footer-img">
    <img src="/plugins/fuse-dcu-2022-plugin/images/footer/dcu.png">
  </div>
  <div class="fuse-footer-img">
    <img src="/plugins/fuse-dcu-2022-plugin/images/footer/sfi.png">
  </div>
</div>
